
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.App-header {
  background-color: #1A6189;
  height: 10%;

}
button{
  height: 65px;
  font-size: 16px;
  font-family: 'Comfortaa';
  width: 160px;
  border: 0px;
  background-color: #1E638A;
  color: white !important;

}
button:hover{
  background-color:  #236F9A;
  border: 0px;
  color: white !important;
}
button:focus{
  background-color: #236F9A;
  border: 0px;
}
.Home{
  margin-left: 20px;
  font-size: 16px;
  border: 0px;
  font-family: 'Comfortaa';
  /*margin-right:150px !important;*/

}
.ContentButton{
  margin-right:10%;
  float: right;
  font-size: 16px;
  border: 0px;
  font-family: 'Comfortaa';
  }
.Timer
{
  box-shadow: none;
  color: white;
  float: right;
  font-size: 28px;
  width: 170px;
  margin-right: 2%;

  margin-top: 13px;
  font-family: 'Comfortaa';
}
